<main>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <div class="box">
    <div class="inner-box">
      <div class="forms-wrap">
        <!-- Form di Login -->
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="sign-in-form">
          <div class="logo">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo" />
            <h4>Rilievi e Perizie</h4>
          </div>

          <div class="heading">
            <h2>Benvenuto</h2>
            <h6>Non sei registrato?</h6>
            <a href="#" class="toggle" (click)="toggleForm()">Registrati</a>
            
          </div>

          <div class="actual-form">
            <div class="input-wrap">
              <input type="email" class="input-field" formControlName="email" required />
              <label>Email</label>
            </div>

            <div class="input-wrap">
              <input type="password" class="input-field" formControlName="password" required />
              <label>Password</label>
            </div>

            <button type="submit" class="sign-btn" [disabled]="loginForm.invalid">Sign In</button>
            <div class="google-login">
              <button class="google-btn" (click)="loginWithGoogle()">
                <i class="fa-brands fa-google"></i> Sign in with Google
              </button>
            </div>

            <p class="text">
              Dimenticato password?
              <a href="#">Richiedine una nuova</a>
            </p>

            <!-- Pulsante di Login con Google -->

          </div>
        </form>

        <!-- Form di Registrazione -->
        <form (ngSubmit)="onRegister()" [formGroup]="registerForm" class="sign-up-form">
          <div class="logo">
            <img src="./assets/img/logo.png" alt="Logo" />
            <h4>Rilievi e Perizie</h4>
          </div>

          <div class="heading">
            <h2>Inizia da oggi</h2>
            <h6>Hai già un account?</h6>
            <a href="#" class="toggle" (click)="toggleForm()">Accedi</a>
            
          </div>

          <div class="actual-form">
            <div class="input-wrap">
              <input type="text" class="input-field" formControlName="username" required />
              <label>Nome</label>
            </div>

            <div class="input-wrap">
              <input type="email" class="input-field" formControlName="email" required />
              <label>Email</label>
            </div>

            <div class="input-wrap">
              <input type="password" class="input-field" formControlName="password" required />
              <label>Password</label>
            </div>

            <button type="submit" class="sign-btn" [disabled]="registerForm.invalid">Sign Up</button>
          </div>
        </form>
      </div>

      <!-- Sezione Immagini e Slider -->
      <div class="carousel">
        <div class="images-wrapper">
          <img src="Perizie-2-scaled.jpg" class="image img-1 show" alt="Perizia 1" id="imageSliderCarousel" />
          <img src="Perizie-1-scaled.jpg" class="image img-2" alt="Perizia 2"      id="imageSliderCarousel" />
          <img src="Perizie-3-scaled.jpg" class="image img-3" alt="Perizia 3"      id="imageSliderCarousel" />
        </div>

        <div class="text-slider">
          <div class="text-wrap">
            <div class="text-group">
              <h2>Effettua rilievi precisi</h2>
              <h2>Personalizza i tuoi report</h2>
              <h2>Condividi con il tuo team</h2>
            </div>
          </div>

          <div class="bullets">
            <span class="active" data-value="1"></span>
            <span data-value="2"></span>
            <span data-value="3"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
