
<!-- Sidebar -->
<nav class="sidebar close">
  <p>ciao</p>
  <div class="sidebar-header">
    <h1 class="sidebar-title">Rilievi e Perizie</h1>
    <button class="sidebar-close" (click)="toggleSidebar()">✖</button>
  </div>

  <!-- Menu -->
  <div class="sidebar-menu">
    <h2 class="sidebar-section-title">Dashboard</h2>
    <a class="sidebar-item" routerLink="dashboard" routerLinkActive="active">📄 Dashboard</a>
    <a class="sidebar-item" routerLink="perizie" routerLinkActive="active">📂 Le Mie Perizie</a>
    <a class="sidebar-item" routerLink="mappa" routerLinkActive="active">🗺️ Mappa</a>
  </div>
</nav>
